# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Lepore
#	email = LeporeM@SI.EDU
[user]
	name = maurolepore
	email = maurolepore@gmail.com
